<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Giraffe</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Giraffe.styles.css" asp-append-version="true" />
</head>
<body>
    @RenderBody()


    <footer class="">
        <div class="container footer-text">
            <a class="navbar-brand" href="/Index">
                <img src="/img/logo.png" alt="Giraffe" width="150">
            </a>
            <a class="nav-link text-white" href="/about">О нас</a>
            <a class="nav-link text-white" href="/Index#uslugi">Услуги</a>
            <a class="nav-link text-white" href="/Contacts">Контакты</a>
            <div class="socialMedia">
                <a href=""><img src="/img/instagram.png" alt="instagram"></a>
                <a href=""><img src="/img/email.png" alt="email"></a>
                <a href=""><img src="/img/telegram.png" alt="telegram"></a>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
    <script src="_framework/blazor.server.js"></script>

</body>
</html>