@using Microsoft.AspNetCore.Components.Web
<div class="bid">
    <h2>Хотите заказать у нас услугу?</h2>
    <p>Заполните форму и мы с Вами свяжемся!</p>
    @if (!HideForm)
    {
        <div class="inputs" id="form">
            <div class="input-container">
                <input type="text" placeholder="Имя" class="custom-input" @bind-value="FirstName" @bind-value:event="oninput">
                <img src="/img/user.png" alt="" class="icon">
            </div>
            <div class="input-container">
                <input type="tel" placeholder="Телефон" class="custom-input" @bind-value="Telephone" @bind-value:event="oninput">
                <img src="/img/phone.png" alt="" class="icon">
            </div>
            <div class="input-container">
                <input type="email" placeholder="Почта" class="custom-input" @bind-value="Email" @bind-value:event="oninput">
                <img src="/img/mail.png" alt="" class="icon">
            </div>
        </div>
        <button class="yellowButton" @onclick="async () => await OnSubmit()" style="margin-top: 70px;" type="button">Отправить</button>
    }
    @if (Message is not null)
    {
        <div class="message @Class">
            <p>@Message</p>
        </div>
    }
</div>