@page
@model Giraffe.Pages.dtfModel
@{
}
<header class="header-section-dtf">
    <div class="container-fluid container">
        <div class="d-flex justify-content-between align-items-center pt-5">
            <div class="header-left">
                <a class="navbar-brand" href="/Index">
                    <img src="/img/logo.png" alt="Giraffe" width="150">
                </a>
            </div>
            <div class="header-right d-flex align-items-center">
                <nav class="nav">
                    <a class="nav-link text-white" href="/Index">Главная</a>
                    <a class="nav-link text-white" href="/about">О нас</a>
                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Услуги
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/SilkscreenPrinting">Шелкография</a></li>
                            <li><a class="dropdown-item" href="/dtf">ДТФ</a></li>
                            <li><a class="dropdown-item" href="/PlotterCutting">Плоттерная резка</a></li>
                            <li><a class="dropdown-item" href="/Puff-Print">Puff-Print</a></li>
                        </ul>
                    </div>
                    <a class="nav-link text-white" href="/Contacts">Контакты</a>
                </nav>
                <a class="text-white ContactUs" href="/Index#form">Связаться с нами</a>
            </div>
        </div>
    </div>
    <div class="text-center">
        <h1 class="text-center heading">ДТФ</h1>
    </div>
</header>
<main>
    <div class="container">
        <div class="separation">
            <p>ОПИСАНИЕ УСЛУГИ</p>
            <p>GIRAFFE</p>
        </div>
        <div class="infoProduct" style="margin-bottom: 0;">
            <h2>Что такое ДТФ?</h2>
            <p>это один из видов печати, путем первоначальной печати изображения на специальной пленке через принтер, а
                далее с помощью теплового пресса изображение с пленки переносится на изделие, и получается яркая и
                сочная картинка!</p>
        </div>
        <div class="separation">
            <p>НАШИ РАБОТЫ</p>
            <p>GIRAFFE</p>
        </div>
        <div class="slider-container">
            <div class="slider-slide active">
                <div class="slider-row">
                    <div class="slider-large">
                        <img src="/img/dtf/1.jpg" alt="Large Image 1">
                    </div>
                    <div class="slider-small">
                        <img src="/img/dtf/2.jpg" alt="Small Image 1">
                    </div>
                </div>
                <div class="slider-row">
                    <div class="slider-small">
                        <img src="/img/dtf/4.jpg" alt="Small Image 2">
                    </div>
                    <div class="slider-large">
                        <img src="/img/dtf/3.jpg" alt="Large Image 2">
                    </div>
                </div>
            </div>
            <div class="slider-slide">
                <div class="slider-row">
                    <div class="slider-large">
                        <img src="/img/dtf/5.jpg" alt="Large Image 3">
                    </div>
                    <div class="slider-small">
                        <img src="/img/dtf/6.jpg" alt="Small Image 3">
                    </div>
                </div>
                <div class="slider-row">
                    <div class="slider-small">
                        <img src="/img/dtf/7.jpg" alt="Small Image 4">
                    </div>
                    <div class="slider-large">
                        <img src="/img/dtf/8.jpg" alt="Large Image 4">
                    </div>
                </div>
            </div>
            <div class="slider-slide">
                <div class="slider-row">
                    <div class="slider-large">
                        <img src="/img/dtf/9.jpg" alt="Large Image 3">
                    </div>
                    <div class="slider-small">
                        <img src="/img/dtf/10.jpg" alt="Small Image 3">
                    </div>
                </div>
                <div class="slider-row">
                    <div class="slider-small">
                        <img src="/img/dtf/11.jpg" alt="Small Image 4">
                    </div>
                </div>
            </div>
            <div class="slider-buttons">
                <img src="/img/arrowLeftBlack.png" alt="Previous" id="left" class="slider-button">
                <img src="/img/arrowRightBlack.png" alt="Next" id="right" class="slider-button">
            </div>
        </div>
        <div class="bidLink">
            <div class="bidForm">
                <h3>Хотите заказать у нас услугу?</h3>
                <div class="bidText">
                    <p>Заполните форму и мы с Вами свяжемся!</p>
                    <a class="yellowButton" href="/Index#form">Связаться с нами</a>
                </div>
            </div>
        </div>
    </div>
</main>