@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="separation">
    <p>О НАС</p>
    <p>GIRAFFE</p>
</div>
<div class="greetings">
    <h2>Привет, мы рады видеть тебя на нашем сайте!</h2>
    <p>Мы представляем собой современную и гибкую компанию, занимающейся шелкографией. Это не просто наш бизнес - это то, что мы искренне любим и ценим. Мы существуем на рынке с 2019 года, и за это время мы смогли усовершенствовать наши навыки, накопить большой опыт и собрать сильную команду профессионалов. За такой небольшой период времени мы уже произвели более 1,500,000 единиц изделий, и сделали каждого нашего клиента чуточку счастливей! Мы стремимся к инновациям и постоянному росту, поэтому мы всегда открыта для новых проектов и возможно, именно вас мы ждем в качестве нашего следующего партнера!</p>
    <button class="" href="#">Подробнее</button>
</div>



