@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
 <header class="header-section ">
        <div class="container-fluid container">
            <div class="d-flex justify-content-between align-items-center pt-5">
                <div class="header-left">
                    <a class="navbar-brand" href="/Index">
                        <img src="/img/logo.png" alt="Giraffe" width="150">
                    </a>
                </div>
                <div class="header-right d-flex align-items-center">
                    <nav class="nav">
                        <a class="nav-link text-white" href="#">Главная</a>
                        <a class="nav-link text-white" href="#">О нас</a>
                        <div class="dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Услуги
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Шелкография</a></li>
                                <li><a class="dropdown-item" href="#">ДТФ</a></li>
                                <li><a class="dropdown-item" href="#">Плоттерная резка</a></li>
                                <li><a class="dropdown-item" href="#">Puff-Print</a></li>
                            </ul>
                        </div>
                        <a class="nav-link text-white" href="#">Контакты</a>
                    </nav>
                    <a class="text-white ContactUs" href="#">Связаться с нами</a>
                </div>
            </div>
        </div>
        <div class="text-center">
            <h1 class="text-center heading">Студия шелкографии</h1>
        </div>
    </header>

<div class="separation">
    <p>О НАС</p>
    <p>GIRAFFE</p>
</div>
<div class="greetings">
    <h2>Привет, мы рады видеть тебя на нашем сайте!</h2>
    <p>Мы представляем собой современную и гибкую компанию, занимающейся шелкографией. Это не просто наш бизнес - это то, что мы искренне любим и ценим. Мы существуем на рынке с 2019 года, и за это время мы смогли усовершенствовать наши навыки, накопить большой опыт и собрать сильную команду профессионалов. За такой небольшой период времени мы уже произвели более 1,500,000 единиц изделий, и сделали каждого нашего клиента чуточку счастливей! Мы стремимся к инновациям и постоянному росту, поэтому мы всегда открыта для новых проектов и возможно, именно вас мы ждем в качестве нашего следующего партнера!</p>
    <button class="" href="#">Подробнее</button>
</div>



