@page
@using Giraffe.Components
@model IndexModel
@{
    ViewData["Title"] = "Главная";
}
<header class="header-section-main ">
    <div class="container-fluid container">
        <div class="d-flex justify-content-between align-items-center pt-5">
            <div class="header-left">
                <a class="navbar-brand" href="/Index">
                    <img src="/img/logo.png" alt="Giraffe" width="150">
                </a>
            </div>
            <div class="header-right d-flex align-items-center">
                <nav class="nav">
                    <a class="nav-link text-white" href="/Index">Главная</a>
                    <a class="nav-link text-white" href="/about">О нас</a>
                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Услуги
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/SilkscreenPrinting">Шелкография</a></li>
                            <li><a class="dropdown-item" href="/dtf">ДТФ</a></li>
                            <li><a class="dropdown-item" href="/PlotterCutting">Плоттерная резка</a></li>
                            <li><a class="dropdown-item" href="/Puff-Print">Puff-Print</a></li>
                        </ul>
                    </div>
                    <a class="nav-link text-white" href="/Contacts">Контакты</a>
                </nav>
                <a class="text-white ContactUs" href="#form">Связаться с нами</a>
            </div>
        </div>
    </div>
    <div class="text-center">
        <h1 class="text-center heading">Студия шелкографии</h1>
    </div>
</header>
<main>
    <div class="container">
        <div class="separation">
            <p>О НАС</p>
            <p>GIRAFFE</p>
        </div>
        <div class="greetings">
            <h2>Привет, мы рады видеть тебя на нашем сайте!</h2>
            <p>Мы представляем собой современную и гибкую компанию, занимающейся шелкографией. Это не просто наш бизнес
                -
                это
                то, что мы искренне любим и ценим. Мы существуем на рынке с 2019 года, и за это время мы смогли
                усовершенствовать наши навыки, накопить большой опыт и собрать сильную команду профессионалов. За такой
                небольшой период времени мы уже произвели более 1,500,000 единиц изделий, и сделали каждого нашего
                клиента
                чуточку счастливей! Мы стремимся к инновациям и постоянному росту, поэтому мы всегда открыта для новых
                проектов
                и возможно, именно вас мы ждем в качестве нашего следующего партнера!</p>
            <a class="yellowButton" href="/about">Подробнее</a>
        </div>
    </div>
    <img src="~/img/sepparation.png" alt="" style="width: 100%; margin-bottom: 50px; height: auto;">
    <div class="container">
        <div class="separation">
            <p>НАША МИССИЯ</p>
            <p>GIRAFFE</p>
        </div>
        <div class="mission">
            <p>Наши основные принципы в работе — это открытость, прозрачность и профессионализм. Для нас очень важно
                доверие клиента, поэтому каждый наш клиент это в первую очередь партнёр с которым мы проходим весь путь
                от идеи до ее реализации. Главной составляющей для нас является работа в очень плотном контакте и
                глубокая вовлеченность в процесс. Мы даем возможность нашим клиентам получить от нас положительные
                эмоции от качественных и уникальных изделия для их бизнеса!</p>
            <a class="yellowButton" href="#form">Связаться с нами</a>
        </div>
        <div class="separation">
            <p>ПОЧЕМУ НАМ ДОВЕРЯЮТ</p>
            <p>GIRAFFE</p>
        </div>
        <div class="trustUs">
            <h2>Почему нам доверяют?</h2>
        </div>
    </div>
    <div class="trustNumbers">
        <div class="trust1 mb-0">
            <h3>01</h3>
            <p>Вы видите весь процесс работы, так как мы скидываем фото и видео на всех этапах.</p>
        </div>
        <div class="trust2 mb-0">
            <h3>02</h3>
            <p>Вы уверены в качестве, так как мы напечатаем единичный, тестовый образец перед началом основной работы.
            </p>
        </div>
        <div class="trust3 mb-0">
            <h3>03</h3>
            <p>Мы готовы взяться за срочные заказы от <strong>выполнения работы за один час</strong> до 1 рабочего дня.
            </p>
        </div>
        <div class="trust4 mb-0">
            <h3>04</h3>
            <p>Мы беремся за сложные проекты и готовы предложить уникальные решения с брендированием.</p>
        </div>
    </div>
    <div class="container">
        <div class="separation">
            <p>НАШИ УСЛУГИ</p>
            <p>GIRAFFE</p>
        </div>
        <div class="services">
            <h2 style="margin-bottom: 90px;">Наши услуги</h2>
            <div class="cards" id="uslugi">
                <div class="servicesСard1">
                    <div class="overlay">
                        <div class="text-container">
                            <h2>01</h2>
                            <div class="numberNameCard">
                                <h2>Шелкография</h2>
                                <p>Метод печати с помощью трафаретов. Другое название нанесения — (шелко)трафаретная
                                    печать. Это
                                    самый старый способ переноса принта на ткань, известен еще со времен Древнего Китая.
                                </p>
                            </div>
                        </div>
                        <div class="icon-container">
                            <a href="/SilkscreenPrinting" class="hover-svg"><svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M25.9987 47.669C37.9649 47.669 47.6654 37.9685 47.6654 26.0023C47.6654 14.0361 37.9649 4.33563 25.9987 4.33563C14.0325 4.33563 4.33203 14.0361 4.33203 26.0023C4.33203 37.9685 14.0325 47.669 25.9987 47.669Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M25.9985 34.669L34.6652 26.0023L25.9985 17.3356" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M17.332 26.0023H34.6654" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="servicesСard2">
                    <div class="overlay">
                        <div class="text-container">
                            <h2>02</h2>
                            <div class="numberNameCard">
                                <h2>ДТФ</h2>
                                <p>Технология цифровой печати на текстиле и текстильных изделиях, с использованием в
                                    качестве промежуточного носителя изображения PET-плёнки</p>
                            </div>
                        </div>
                        <div class="icon-container">
                            <a href="/dtf" class="hover-svg"><svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M25.9987 47.669C37.9649 47.669 47.6654 37.9685 47.6654 26.0023C47.6654 14.0361 37.9649 4.33563 25.9987 4.33563C14.0325 4.33563 4.33203 14.0361 4.33203 26.0023C4.33203 37.9685 14.0325 47.669 25.9987 47.669Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M25.9985 34.669L34.6652 26.0023L25.9985 17.3356" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M17.332 26.0023H34.6654" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="servicesСard3">
                    <div class="overlay">
                        <div class="text-container">
                            <h2>03</h2>
                            <div class="numberNameCard">
                                <h2>Плоттерная резка</h2>
                                <p>Технология, которая позволяет прорезать до подложки, высекать, перфорировать, резать
                                    насквозь материал вдоль контура изображения из различных материалов, например, из
                                    самоклеящейся плёнки.</p>
                            </div>
                        </div>
                        <div class="icon-container">
                            <a href="/PlotterCutting" class="hover-svg"><svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M25.9987 47.669C37.9649 47.669 47.6654 37.9685 47.6654 26.0023C47.6654 14.0361 37.9649 4.33563 25.9987 4.33563C14.0325 4.33563 4.33203 14.0361 4.33203 26.0023C4.33203 37.9685 14.0325 47.669 25.9987 47.669Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M25.9985 34.669L34.6652 26.0023L25.9985 17.3356" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M17.332 26.0023H34.6654" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="servicesСard4">
                    <div class="overlay">
                        <div class="text-container">
                            <h2>04</h2>
                            <div class="numberNameCard">
                                <h2>Puff-Print</h2>
                                <p>Один из видов печати, при котором используется технология заключающаяся в добавлении
                                    особых примесей в краску</p>
                            </div>
                        </div>
                        <div class="icon-container">
                            <a href="/Puff-Print" class="hover-svg"><svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M25.9987 47.669C37.9649 47.669 47.6654 37.9685 47.6654 26.0023C47.6654 14.0361 37.9649 4.33563 25.9987 4.33563C14.0325 4.33563 4.33203 14.0361 4.33203 26.0023C4.33203 37.9685 14.0325 47.669 25.9987 47.669Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M25.9985 34.669L34.6652 26.0023L25.9985 17.3356" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M17.332 26.0023H34.6654" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <a class="yellowButton" href="#form">Связаться с нами</a>
            </div>
        </div>
        <div class="separation">
            <p>С НАМИ СОТРУДНИЧАЛИ</p>
            <p>GIRAFFE</p>
        </div>
        <div class="cooperation">
            <h2>С нами сотрудничали</h2>
            <div class="slder-cad-small" id="slider1">
                <div class="cad-img-small">
                    <img src="/img/collabed/B_black.png" alt="Image 1" draggable="false">
                    <img src="/img/collabed/hydrop.png" alt="Image 2" draggable="false">
                    <img src="/img/collabed/Kashinaka-Logo-White.png" alt="Image 3" draggable="false">
                    <img src="/img/collabed/logo.png" alt="Image 4" draggable="false">
                    <img src="/img/collabed/scrmerch.png" alt="Image 5" draggable="false">
                    <img src="/img/collabed/the orlines.png" alt="Image 6" draggable="false">
                    <img src="/img/collabed/VK_Full_Logo_(2021-present).svg.png" alt="Image 7" draggable="false">
                    <img src="/img/collabed/noname.png" alt="Image 8" draggable="false">
                </div>
                <div class="buttons-slider">
                    <svg id="left" width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18.4998 3.08341C9.98545 3.08341 3.08317 9.98569 3.08317 18.5001C3.08317 27.0145 9.98545 33.9167 18.4998 33.9167C27.0142 33.9167 33.9165 27.0145 33.9165 18.5001C33.9165 9.98569 27.0142 3.08341 18.4998 3.08341Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M18.5 12.3334L12.3333 18.5001L18.5 24.6667" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M24.6665 18.5H12.3332" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <div class="pagination"></div>
                    <svg id="right" width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18.5002 33.9166C27.0146 33.9166 33.9168 27.0143 33.9168 18.4999C33.9168 9.98553 27.0146 3.08325 18.5002 3.08325C9.98577 3.08325 3.0835 9.98553 3.0835 18.4999C3.0835 27.0143 9.98577 33.9166 18.5002 33.9166Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M18.5 24.6666L24.6667 18.4999L18.5 12.3333" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M12.3335 18.5H24.6668" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
                
            </div>
        </div>
            <!-- Модальное окно -->
            <div id="imageModal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="modalImage">
                <div class="prev">&#10094;</div>
                <div class="next">&#10095;</div>
            </div>
            <div class="separation">
                <p>ЗАЯВКА</p>
                <p>GIRAFFE</p>
            </div>
                @(await Html.RenderComponentAsync<ContactForm>(RenderMode.ServerPrerendered))
        
    </div>
</main>
