@page
@model Giraffe.Pages.Puff_PrintModel
@{
    ViewData["Title"] = "Puff-Print";
}
<header class="header-section-puff">
    <div class="container-fluid container">
        <div class="d-flex justify-content-between align-items-center pt-5">
            <div class="header-left">
                <a class="navbar-brand" href="/Index">
                    <img src="/img/logo.png" alt="Giraffe" width="150">
                </a>
            </div>
            <div class="header-right d-flex align-items-center">
                <nav class="nav">
                    <a class="nav-link text-white" href="/Index">Главная</a>
                    <a class="nav-link text-white" href="/about">О нас</a>
                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Услуги
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/SilkscreenPrinting">Шелкография</a></li>
                            <li><a class="dropdown-item" href="/dtf">ДТФ</a></li>
                            <li><a class="dropdown-item" href="/PlotterCutting">Плоттерная резка</a></li>
                            <li><a class="dropdown-item" href="/Puff-Print">Puff-Print</a></li>
                        </ul>
                    </div>
                    <a class="nav-link text-white" href="/Contacts">Контакты</a>
                </nav>
                <a class="text-white ContactUs" href="/Index#form">Связаться с нами</a>
            </div>
        </div>
    </div>
    <div class="text-center">
        <h1 class="text-center heading">Puff-Print</h1>
    </div>
</header>
<main>
    <div class="container">
        <div class="separation">
            <p>ОПИСАНИЕ УСЛУГИ</p>
            <p>GIRAFFE</p>
        </div>
        <div class="infoProduct" style="margin-bottom: 0;">
            <h2>Что такое Puff-Print?</h2>
            <p> Это один из видов печати, при котором используется технология заключающаяся в добавлении особых примесей
                в краску. С помощью данной технологии создаётся объёмное изображение на текстильных изделиях. Под
                термическим воздействием она вспенивается, окрашенная поверхность увеличивается в размерах (5-20 %).
                Данный вид печати привлекает большое количество производителей брендов одежды и частных клиентов.</p>
        </div>
        <div class="separation">
            <p>НАШИ РАБОТЫ</p>
            <p>GIRAFFE</p>
        </div>
        <div class="slider-container">
            <div class="slider-slide active">
                <div class="slider-row">
                    <div class="slider-large">
                        <img src="/img/puff/1.jpg" alt="Large Image 1">
                    </div>
                    <div class="slider-small">
                        <img src="/img/puff/2.jpg" alt="Small Image 1">
                    </div>
                </div>
                <div class="slider-row">
                    <div class="slider-small">
                        <img src="/img/puff/4.jpg" alt="Small Image 2">
                    </div>
                    <div class="slider-large">
                        <img src="/img/puff/3.jpg" alt="Large Image 2">
                    </div>
                </div>
            </div>
            <div class="slider-slide">
                <div class="slider-row">
                    <div class="slider-large">
                        <img src="/img/puff/5.jpg" alt="Large Image 3">
                    </div>
                    <div class="slider-small">
                        <img src="/img/puff/6.jpg" alt="Small Image 3">
                    </div>
                </div>
                <div class="slider-row">
                    <div class="slider-small">
                        <img src="/img/puff/7.jpg" alt="Small Image 4">
                    </div>
                    <div class="slider-large">
                        <img src="/img/puff/8.jpg" alt="Large Image 4">
                    </div>
                </div>
            </div>
            <div class="slider-buttons">
                <svg id="left" width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18.4998 3.08341C9.98545 3.08341 3.08317 9.98569 3.08317 18.5001C3.08317 27.0145 9.98545 33.9167 18.4998 33.9167C27.0142 33.9167 33.9165 27.0145 33.9165 18.5001C33.9165 9.98569 27.0142 3.08341 18.4998 3.08341Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M18.5 12.3334L12.3333 18.5001L18.5 24.6667" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M24.6665 18.5H12.3332" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <div class="pagination"></div>
                <svg id="right" width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18.5002 33.9166C27.0146 33.9166 33.9168 27.0143 33.9168 18.4999C33.9168 9.98553 27.0146 3.08325 18.5002 3.08325C9.98577 3.08325 3.0835 9.98553 3.0835 18.4999C3.0835 27.0143 9.98577 33.9166 18.5002 33.9166Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M18.5 24.6666L24.6667 18.4999L18.5 12.3333" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M12.3335 18.5H24.6668" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
        </div>
        <div class="bidLink">
            <div class="bidForm-puff">
                <h3>Хотите заказать у нас услугу?</h3>
                <div class="bidText">
                    <p>Заполните форму и мы с Вами свяжемся!</p>
                    <a class="yellowButton" href="/Index#form">Связаться с нами</a>
                </div>
            </div>
        </div>
    </div>
</main>
<div id="imageModal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="modalImage">
    <div class="modal-nav">
        <span class="prev">&#10094;</span>
        <span class="next">&#10095;</span>
    </div>
</div>