@page
@model Giraffe.Pages.SilkscreenPrintingModel
@{
}
<header class="header-section-silk">
    <div class="container-fluid container">
        <div class="d-flex justify-content-between align-items-center pt-5">
            <div class="header-left">
                <a class="navbar-brand" href="/Index">
                    <img src="/img/logo.png" alt="Giraffe" width="150">
                </a>
            </div>
            <div class="header-right d-flex align-items-center">
                <nav class="nav">
                    <a class="nav-link text-white" href="/Index">Главная</a>
                    <a class="nav-link text-white" href="/about">О нас</a>
                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Услуги
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/SilkscreenPrinting">Шелкография</a></li>
                            <li><a class="dropdown-item" href="/dtf">ДТФ</a></li>
                            <li><a class="dropdown-item" href="/PlotterCutting">Плоттерная резка</a></li>
                            <li><a class="dropdown-item" href="/Puff-Print">Puff-Print</a></li>
                        </ul>
                    </div>
                    <a class="nav-link text-white" href="/Contacts">Контакты</a>
                </nav>
                <a class="text-white ContactUs" href="/Index#form">Связаться с нами</a>
            </div>
        </div>
    </div>
    <div class="text-center">
        <h1 class="text-center heading">Шелкография</h1>
    </div>
</header>
<main>
    <div class="container">
        <div class="separation">
            <p>ОПИСАНИЕ УСЛУГИ</p>
            <p>GIRAFFE</p>
        </div>
        <div class="infoProduct" style="margin-bottom: 0;">
            <h2>Что такое шелкография?</h2>
            <p>Метод нанесения изображения при помощи трафорентной печатной формы на изделия. Этот метод подразумвает
                под собой использование мелкоячеичной сетки, сквозь которую краска переноситься на поверхность.</p>
        </div>
        <div class="separation">
            <p>НАШИ РАБОТЫ</p>
            <p>GIRAFFE</p>
        </div>
        <div class="slder-cad">
            <div class="cad-img">
                <img src="/img/silkscreen/1.jpg" alt="Image 1" draggable="false">
                <img src="/img/silkscreen/2.jpg" alt="Image 2" draggable="false">
                <img src="/img/silkscreen/3.jpg" alt="Image 3" draggable="false">
                <img src="/img/silkscreen/4.jpg" alt="Image 4" draggable="false">
                <img src="/img/silkscreen/5.jpg" alt="Image 5" draggable="false">
                <img src="/img/silkscreen/6.jpg" alt="Image 6" draggable="false">
                <img src="/img/silkscreen/7.jpg" alt="Image 7" draggable="false">
                <img src="/img/silkscreen/8.jpg" alt="Image 8" draggable="false">
                <img src="/img/silkscreen/9.jpg" alt="Image 9" draggable="false">
                <img src="/img/silkscreen/10.jpg" alt="Image 10" draggable="false">
                <img src="/img/silkscreen/11.jpg" alt="Image 11" draggable="false">
                <img src="/img/silkscreen/12.jpg" alt="Image 12" draggable="false">
                <img src="/img/silkscreen/13.jpg" alt="Image 13" draggable="false">
                <img src="/img/silkscreen/14.jpeg" alt="Image 14" draggable="false">
                <img src="/img/silkscreen/15.jpeg" alt="Image 15" draggable="false">
            </div>
            <div class="buttons-slider">
                <img src="/img/arrowLeftBlack.png" alt="Previous" id="left">
                <img src="/img/arrowRightBlack.png" alt="Next" id="right">
            </div>
        </div>

        <div class="bidLink">
            <div class="bidForm">
                <h3>Хотите заказать у нас услугу?</h3>
                <div class="bidText">
                    <p>Заполните форму и мы с Вами свяжемся!</p>
                    <a class="yellowButton" href="/Index#form">Связаться с нами</a>
                </div>
            </div>
        </div>
    </div>
</main>