html {
    font-size: 14px;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/font/Montserrat-Regular.ttf');
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    font-family: 'Montserrat';
}

.header-section-main,
.header-section-about,
.header-section-silk,
.header-section-dtf,
.header-section-plotterCutting,
.header-section-puff,
.header-section-contact {
    background-size: cover;
    background-position: center;
    height: 20vh;
    background: none;
    height: 505px;
    margin-bottom: 100px;
    width: 100%;
}

.header-section-main {
    background-image: url('/img/backgroundMain.png');
    background-size: cover;
}

.header-section-about {
    background-image: url('/img/backgroundAbout.png');
    background-size: cover;
}

.header-section-silk {
    background-image: url('/img/backgroundSilk.png');
    background-size: cover;
}

.header-section-dtf {
    background-image: url('/img/backgroundDtf.png');
    background-size: cover;
}

.header-section-plotterCutting {
    background-image: url('/img/backgroundPlotter.png');
    background-size: cover;
}

.header-section-puff {
    background-image: url('/img/backgroundPlotter.png');
    background-size: cover;
}

.header-section-contact {
    background-image: url('/img/backgroundContact.png');
    background-size: cover;
}

.nav-link {
    font-size: 1rem;
    margin-right: 20px;
}

.dropdown-menu {
    background-color: #343a40;
    border: none;
}

.dropdown-menu .dropdown-item {
    color: white;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #495057;
}

.btn-outline-light {
    font-size: 0.9rem;
    padding: 8px 20px;
}

.header-left img {
    max-height: 50px;
    height: auto;
}

.ContactUs {
    border: 1px solid #fff;
    border-radius: 22px;
    width: 160px;
    height: 35px;
    padding: 7px 20px 10px 20px;
    font-size: 13px;
    text-decoration: none;
    color: #fff;
}

.heading {
    font-weight: 700;
    font-size: 53px;
    color: #fff;
    margin-top: 110px;
}

footer {
    background: #1a1a1a;
    height: 292px;
}

.footer-text {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.footer-text a {
    font-weight: 600;
    font-size: 17px;
}

.socialMedia img {
    margin: 5px;
}

.separation {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 17px;
    color: #7b7b7b;
    border-bottom: 1px solid #8f8f8f;
    /* width: 1190px; */
}

h2 {
    font-weight: 600;
    font-size: 34px;
    text-align: center;
    color: #2e2e2e;
}

.greetings h2 {
    width: 500px;
}

.greetings,
.mission,
.trustUs,
.infoProduct {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 75px;
    margin-bottom: 125px;
}

.yellowButton {
    border-radius: 55px;
    width: 183px;
    height: 44px;
    background: #b4f115;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    display: inline;
    outline: none;
    border: 0;
    text-decoration: none;
    color: #000;
    padding: 10px;
}

.yellowButton:hover {
    color: #000;
}

.greetings p,
.mission p,
.infoProduct p {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #565656;
    margin: 70px;
}

.trustNumbers {
    background-image: url("/img/trustUs.png");
    height: 1170px;
    margin-bottom: 150px;
}

.trust1,
.trust2,
.trust3,
.trust4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.trust1 h3,
.trust2 h3,
.trust3 h3,
.trust4 h3 {
    font-weight: 600;
    font-size: 34px;
    text-align: center;
    color: #b4f115;
}

.trust1 p,
.trust2 p,
.trust3 p,
.trust4 p {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #fff;
    width: 600px;
    margin-top: 40px;
}


.servicesСard1,
.servicesСard2,
.servicesСard3,
.servicesСard4 {
    position: relative;
    border-radius: 26px;
    width: 854px;
    height: 274px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    color: white;
    margin-bottom: 50px;
}

.servicesСard1 {
    background-image: url('/img/shelkCard.png');
}

.servicesСard2 {
    background-image: url('/img/dtfCard.png');
}

.servicesСard3 {
    background-image: url('/img/plotterCard.png');
}

.servicesСard4 {
    background-image: url('/img/puffCard.png');
}

.overlay {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 55px;
}

.text-container {
    max-width: 70%;
    display: flex;
}

.text-container h2 {
    font-weight: 500;
    font-size: 34px;
    color: #fff;
    width: auto;
    margin-right: 60px;
}

.text-container p {
    font-weight: 600;
    font-size: 17px;
    color: #afafaf;
    width: 540px;
}

.icon-container {
    width: 50px;
    height: 50px;
}

.numberNameCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.services {
    margin-top: 140px;
}

.services h2 {
    width: auto;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
}

.slder-cad-small {
    width: 100%;
    border-radius: 15px;
    position: relative;
    margin-top: 120px;
    margin-bottom: 120px;
}

.buttons-slider {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.slder-cad-small .cad-img-small {
    white-space: nowrap;
    font-size: 0px;
    overflow: hidden;
    scroll-behavior: smooth;
}

.cad-img-small.dragging {
    cursor: grab;
    scroll-behavior: auto;
}

.cad-img-small.dragging img {
    pointer-events: none;
}

.cad-img-small img {
    height: 100px;
    width: auto;
    margin-left: 14px;
    max-width: calc(100% / 2);
    border-radius: 15px;
}

.cad-img-small img:first-child {
    margin-left: 0px;
}

.slder-cad .cad-img {
    white-space: nowrap;
    font-size: 0px;
    overflow: hidden;
    scroll-behavior: smooth;
    margin-top: 100px;
}

.cad-img.dragging {
    cursor: grab;
    scroll-behavior: auto;
}

.cad-img.dragging img {
    pointer-events: none;
}

.cad-img img {
    height: 350px;
    object-fit: cover;
    margin-left: 14px;
    width: calc(100% / 3);
    border-radius: 15px;
    filter: grayscale(100%);
}

.cad-img img:hover {
    filter: grayscale(0);
}

.cad-img img:first-child {
    margin-left: 0px;
}


.modal {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.9); 
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    margin-top: 20%;
}

.modal-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.prev, .next {
    cursor: pointer;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    transition: 0.3s;
}

.prev:hover, .next:hover {
    color: #ddd;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.close:hover {
    color: #bbb;
}

.cooperation {
    margin-bottom: 150px;
    margin-top: 120px;
}

.custom-input {
    border-radius: 46px;
    width: 318px;
    height: 58px;
    background: #1a1a1a;
    outline: none;
    border: none;
    color: white;
    padding-left: 32px;
    font-size: 15px;
    position: relative;
}

.custom-input::placeholder {
    color: #8c8c8c;
}

.icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
}

.input-container {
    position: relative;
    margin-right: 15px;
}

.bid {
    background-image: url('/img/logo6%.png');
    background-position: 55% 25%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
    margin-bottom: 250px;
}

.bid p {
    margin-top: 20px;
    margin-bottom: 100px;
}

.inputs {
    display: flex;
}

.comand {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
}

.comand h2 {
    margin-top: 100px;
    margin-bottom: 80px;
}

.profile-card-big {
    position: relative;
    width: 950px;
    height: 375px;
    overflow: hidden;
    border-radius: 25px;
    margin-bottom: 20px;
}

.profile-card-big img.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-card {
    position: relative;
    width: 300px;
    height: 350px;
    overflow: hidden;
    border-radius: 25px;
    margin-bottom: 20px;
    margin-right: 15px;
    margin-left: 10px;
}

.profile-card img.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 90px;
    padding: 10px;
}

.info h2 {
    margin: 0;
    font-size: 26px;
    color: #fff;
    line-height: 1.2;
    margin-bottom: 10px;
}

.info p {
    margin: 0;
    font-size: 16px;
    display: flex;
    align-items: center;
    line-height: 1.2;
}

.info p::before {
    content: url('/img/userGray.png');
    margin-right: 10px;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.stages {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stages h2 {
    margin-bottom: 75px;
    margin-top: 100px;
}

.numbers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 750px;
    margin-bottom: 70px;
}

.numbers h3 {
    font-weight: 500;
    font-size: 34px;
    color: #3f3f3f;
}

.numbers p {
    width: 600px;
    font-weight: 400;
    font-size: 20px;
    color: #565656;
}


.faq {
    color: #fff;
    margin-top: 140px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 140px;
}

.faqQuestion {
    position: relative;
    background-color: #1c1c1c;
    border-radius: 31px;
    width: 550px;
    height: 587px;
    padding-top: 130px;
    padding-bottom: 85px;
    padding-left: 70px;
    padding-right: 70px;
}

.faqLabel {
    position: absolute;
    top: -15px;
    left: 0px;
    font-weight: 500;
    font-size: 65px;
    color: #2a2a2a;
    margin: 0;
}

.faqQuestion h3 {
    font-weight: 600;
    font-size: 34px;
    color: #fff;
    margin-bottom: 40px;
}

.faqQuestionP {
    font-weight: 400;
    font-size: 24px;
    color: #a6a6a6;
    width: 370px;
}

.acc-container {
    width: 660px;
}

.acc-btn {
    width: 100%;
    padding: 22px 31px;
    cursor: pointer;
    background: inherit;
    border: none;
    outline: none;
    text-align: left;
    transition: all 0.5s linear;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    background-color: #1c1c1c;
    height: 132px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.acc-btn:after {
    content: url('/img/plus.png');
}

.faqTwo, .faqThree, .faqFour {
    display: none;
}

.backgroundFaq {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 500;
    font-size: 65px;
    color: #2a2a2a;
}

.topImg {
    width: 770px;
    height: 325px;
    position: absolute;
    top: 0;
    left: 0;
}

.bottomLeftImg {
    width: 385px;
    height: 375px;
    position: absolute;
    bottom: 70px;
    left: 0;
}

.bottomRightImg {
    width: 350px;
    height: 375px;
    position: absolute;
    bottom: 70px;
    left: 420px;
}

.topRightImg {
    width: 400px;
    height: 220px;
    position: absolute;
    right: 0;
    top: 0;
}

.rightMiddleImg {
    width: 400px;
    height: 220px;
    position: absolute;
    right: 0;
    top: 250px;
}

.bottomImg {
    width: 400px;
    height: 220px;
    position: absolute;
    right: 0;
    bottom: 70px;
}

.photos h2 {
    margin-top: 95px;
}

.bidLink {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bidForm,
.bidForm-silk,
.bidForm-plotter,
.bidForm-puff,
.bidForm-dtf {
    background-repeat: no-repeat;
    width: 90%;
    border-radius: 31px;
    height: 326px;
    overflow: hidden;
    padding: 80px 100px 70px 85px;
    margin-top: 130px;
    margin-bottom: 125px;
}

.bidForm {
    background-image: url('/img/bidForm.png');
}

.bidForm-silk {
    background-image: url('/img/bidFormSilk.png');
}

.bidForm-plotter {
    background-image: url('/img/bidFormPlotter.png');
}

.bidForm-puff {
    background-image: url('/img/bidFormPuff.png');
}

.bidForm-dtf {
    background-image: url('/img/bidFormDtf.png');
}

.bidForm img,
.bidForm-silk img,
.bidForm-plotter img,
.bidForm-puff img,
.bidForm-dtf img {
    width: 100%;
    height: auto;
}

.bidForm h3,
.bidForm-silk h3,
.bidForm-plotter h3,
.bidForm-puff h3,
.bidForm-dtf h3 {
    font-weight: 600;
    font-size: 37px;
    color: #fff;
    width: 335px;
}

.bidForm p,
.bidForm-silk p,
.bidForm-plotter p,
.bidForm-puff p,
.bidForm-dtf p {
    font-weight: 400;
    font-size: 20px;
    color: #a6a6a6;
    width: 250px;
}

.bidText {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}

.contacts {
    display: flex;
    background: url('/img/contactCard.png') no-repeat center center;
    background-size: cover;
    color: white;
    border-radius: 50px;
    overflow: hidden;
    width: 900px;
    height: 320px;
    max-width: 100%;
    margin-top: 75px;
}

.contact-info,
.adress-info {
    padding-top: 85px;
    padding-bottom: 120px;
    padding-left: 85px;
    flex: 1;
}

.contact-info h3 {
    font-weight: 600;
    font-size: 26px;
    color: #fff;
    margin-bottom: 30px;
}

.contact-info p {
    margin: 10px 0;
    display: flex;
    align-items: center;
    font-size: 17px;
}

.contact-info p img {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.adress {
    display: flex;
    background: url('/img/backgroundAdress.png') no-repeat center center;
    background-size: cover;
    color: white;
    border-radius: 50px;
    overflow: hidden;
    width: 900px;
    height: 320px;
    max-width: 100%;
    margin-top: 75px;
}

.adress-info h3 {
    font-weight: 600;
    font-size: 26px;
    color: #fff;
    margin-bottom: 30px;
}

.adress-info p {
    margin: 10px 0;
    display: flex;
    font-size: 17px;
    width: 315px;
}

.adress-info p img {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.adressAndLoc {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 180px;
}

.slider-container {
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* Слайдер и кнопки в колонку */
    align-items: center;
    /* Центрирование слайдов */
    margin-top: 95px;
    margin-bottom: 120px;
}

.slider-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.slider-large {
    width: 730px;
    height: 360px;
    overflow: hidden;
    position: relative;
    margin-right: 10px;
    margin-left: 10px;
}

.slider-large img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
    filter: grayscale(100%);
}

.slider-small {
    width: 300px;
    height: 360px;
    overflow: hidden;
    position: relative;
    margin-right: 10px;
    margin-left: 10px;
}

.slider-small img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
    filter: grayscale(100%);
}

.slider-small img:hover,
.slider-large img:hover {
    filter: grayscale(0);
}

.slider-slide {
    display: none;
}

.slider-slide.active {
    display: block;
}

.slider-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    /* Отступ сверху */
}

.slider-button {
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin: 0 10px;
}

.message {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #b4f115;
    height: 60px;
    min-width: 288px;
    max-width: 500px;
    border-radius: 30px;
    font-weight: 500;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, .2), 0px 6px 10px 0px rgba(0, 0, 0, .14), 0px 1px 18px 0px rgba(0, 0, 0, .12);
    animation: join 2s ease 0s 1 normal forwards;
    margin-top: 50px;
}

.exit {
    animation: exit 1s ease 0s 1 normal forwards;
}

@keyframes exit {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes join {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}




@media (max-width: 992px) {
    
    .header-left {
        width: 20%;
    }

    .header-left img {
        width: 100px;
    }

    .nav {
        justify-content: center;
        flex-direction: column;
    }

    .ContactUs {
        width: 130px;
        font-size: 10px;
        padding: 9px 10px 10px 18px;
    }

    .heading {
        font-size: 25px;
    }

    .separation {
        /*width: 375px;*/
        font-size: 13px;
    }

    h2 {
        font-size: 25px;
    }

    .greetings h2 {
        width: 100%;
    }

    .greetings p,
    .mission p,
    .infoProduct p {
        margin: 50px 10px 50px 10px;
        font-size: 17px;
    }

    .trust1 h3,
    .trust2 h3,
    .trust3 h3,
    .trust4 h3 {
        font-size: 22px;
    }

    .trust1 p,
    .trust2 p,
    .trust3 p,
    .trust4 p {
        font-size: 17px;
        width: 100%;
    }

    .servicesСard1,
    .servicesСard2,
    .servicesСard3,
    .servicesСard4 {
        position: relative;
        border-radius: 26px;
        width: 365px;
        height: 335px;
        background-size: cover;
        background-position: center;
        overflow: hidden;
        color: white;
        margin-bottom: 50px;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .text-container {
        max-width: 80%;
        flex-direction: column;
    }

    .text-container h2 {
        margin-right: 0px;
        font-size: 25px;
    }

    .text-container p {
        font-size: 15px;
        width: 300px;
    }

    .cards {
        margin-bottom: 100px;
    }

    .cooperation {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .cad-img-small img {
        width: 100%;
        height: auto;
    }

    .cad-img img {
        width: 100%;
    }

    .inputs {
        display: flex;
        flex-direction: column;
    }

    .input-container {
        margin-bottom: 20px;
    }

    .bid {
        background-size: 380px;
        margin-bottom: 100px;
    }

    .bid p {
        margin-bottom: 50px;
    }

    .footer-text {
        display: flex;
        flex-direction: column;
    }

    .comand {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 150px;
    }

    .profile-card-big {
        position: relative;
        width: 100%;
    }

    .profile-card-big img.background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .numbers {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 350px;
        margin-bottom: 20px;
    }

    .numbers h3 {
        font-weight: 500;
        font-size: 20px;
        color: #3f3f3f;
    }

    .numbers p {
        width: 300px;
        font-weight: 400;
        font-size: 15px;
        color: #565656;
    }

    .faq {
        color: #fff;
        margin-top: 40px;
        margin-bottom: 40px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .faqQuestion {
        position: relative;
        background-color: #1c1c1c;
        border-radius: 31px;
        width: 365px;
        height: 350px;
        padding-top: 90px;
        padding-bottom: 85px;
        padding-left: 70px;
        padding-right: 70px;
        margin-bottom: 20px;
    }

    .faqLabel {
        position: absolute;
        top: -15px;
        left: 0px;
        font-weight: 500;
        font-size: 65px;
        color: #2a2a2a;
        margin: 0;
    }

    .faqQuestion h3 {
        font-weight: 600;
        font-size: 20px;
        color: #fff;
        margin-bottom: 40px;
    }

    .faqQuestionP {
        font-weight: 400;
        font-size: 15px;
        color: #a6a6a6;
        width: 250px;
    }

    .acc-container {
        width: 365px;
    }

    .acc-btn {
        margin-bottom: 20px;
        font-size: 15px;
    }

    .bidForm,
    .bidForm-silk,
    .bidForm-plotter,
    .bidForm-puff,
    .bidForm-dtf {
        background-repeat: no-repeat;
        width: 350px;
        border-radius: 31px;
        height: 326px;
        overflow: hidden;
        padding: 50px 100px 70px 40px;
        margin-top: 30px;
        margin-bottom: 100px;
    }

    .bidForm h3,
    .bidForm-silk h3,
    .bidForm-plotter h3,
    .bidForm-puff h3,
    .bidForm-dtf h3 {
        font-weight: 600;
        font-size: 25px;
        color: #fff;
        width: 335px;
    }

    .bidForm p,
    .bidForm-silk p,
    .bidForm-plotter p,
    .bidForm-puff p,
    .bidForm-dtf p {
        font-weight: 400;
        font-size: 15px;
        color: #a6a6a6;
        width: 250px;
    }

    .bidText {
        margin-top: 45px;
        display: flex;
        flex-direction: column;
    }

    .contact-info {
        padding-top: 85px;
        padding-bottom: 120px;
        padding-left: 45px;
        flex: 1;
    }

    .adress-info {
        padding-top: 60px;
        padding-bottom: 120px;
        padding-left: 45px;
        flex: 1;
    }

    .adress-info p {
        width: 250px;
    }

    .slider-row {
        flex-direction: column;
        align-items: center;
    }

    .slider-large,
    .slider-small {
        width: 90%;
        margin-bottom: 10px;
    }

    .slider-buttons {
        margin-top: 10px;
    }

    .slider-button {
        width: 30px;
        height: 30px;
    }

    .footer-text .nav-link {
        margin: 0;
        padding: 0;
    }

    .footer-text .navbar-brand {
        margin: 0;
    }

    .modal-content {
        margin-top: 150px;
    }
}

#components-reconnect-modal {
    display: none;
}

#components-reconnect-modal.components-reconnect-show,
#components-reconnect-modal.components-reconnect-failed,
#components-reconnect-modal.components-reconnect-rejected {
    display: block;
}