html {
    font-size: 14px;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/font/Montserrat-Regular.ttf');
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    font-family: 'Montserrat';
    background-color: #EDEDED;
}

.header-section-main,
.header-section-about,
.header-section-silk,
.header-section-dtf,
.header-section-plotterCutting,
.header-section-puff,
.header-section-contact,
.header-section-embroidery {
    background-size: cover;
    background-position: center;
    height: 20vh;
    background: none;
    height: 505px;
    margin-bottom: 100px;
    width: 100%;
}

.header-section-main {
    background-image: url('/img/backgroundMain.png');
    background-size: cover;
}

.header-section-about {
    background-image: url('/img/backgroundAbout.png');
    background-size: cover;
}

.header-section-silk {
    background-image: url('/img/backgroundSilk.png');
    background-size: cover;
}

.header-section-dtf {
    background-image: url('/img/backgroundDtf.png');
    background-size: cover;
}

.header-section-plotterCutting {
    background-image: url('/img/backgroundPlotter.png');
    background-size: cover;
}

.header-section-puff {
    background-image: url('/img/backgroundPlotter.png');
    background-size: cover;
}

.header-section-contact {
    background-image: url('/img/backgroundContact.png');
    background-size: cover;
}

.header-section-embroidery {
    background-image: url('/img/backgroundEmbroidery.png');
    background-size: cover;
}

#pc {
    display: block;
}

#mobile {
    display: none;
}

.slder-cad {
    margin-bottom: 70px;
}

.nav-link {
    font-size: 1rem;
    margin-right: 20px;
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 30px;
    width: 100%;
    height: 24px;
    background: none;
    border: none;
    position: absolute;
    top: 48px;
    right: 23px;
    cursor: pointer;
    z-index: 1000;
}

.hamburger-menu span {
    width: 100%;
    height: 2px;
    background: white;
    border-radius: 2px;
    transition: all 0.3s;
}

.hamburger-menu.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger-menu.active span:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.active span:nth-child(3) {
    opacity: 0;
}

.hamburger-menu.active span:nth-child(4) {
    transform: rotate(-45deg) translate(5px, -5px);
}

.mobile-nav {
    display: none;
    flex-direction: column;
    background: #111111;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    z-index: 999;
    overflow-y: auto;
}

.mobile-nav.active {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.dropdown-menu {
    display: none;
    flex-direction: column;
    background: #111111;
    margin-top: 10px;
    padding: 10px;
}

.dropdown-menu.active {
    display: flex;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    flex-direction: column;
    background: #111111;
    position: absolute;
    width: 100%;
    padding: 0;
    margin-top: 0;
    border: none;
}

.dropdown-menu li {
    margin-top: 12px;
}

.dropdown-menu.active {
    display: flex;
}

.dropdown-item {
    color: #969696;
}

.dropdown-item:hover {
    color: #fff;
    background: none;
    border: none;
}


.btn-outline-light {
    font-size: 0.9rem;
    padding: 8px 20px;
}

.header-left img {
    max-height: 50px;
    height: auto;
}

.ContactUs {
    border: 1px solid #fff;
    border-radius: 22px;
    width: 160px;
    height: 35px;
    padding: 7px 20px 10px 20px;
    font-size: 13px;
    text-decoration: none;
    color: #fff;
}

.heading {
    font-weight: 700;
    font-size: 53px;
    color: #fff;
    margin-top: 110px;
}

footer {
    background: #1a1a1a;
    height: 292px;
}

.footer-text {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.socialMedia img {
    margin: 5px;
}

.separation {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 17px;
    color: #7b7b7b;
    border-bottom: 1px solid #8f8f8f;
    /* width: 1190px; */
}

h2 {
    font-weight: 600;
    font-size: 34px;
    text-align: center;
    color: #2e2e2e;
}

.greetings h2 {
    width: 500px;
}

.greetings,
.mission,
.trustUs,
.infoProduct {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 75px;
    margin-bottom: 75px;
}

.yellowButton, .yellowButtonForm {
    border-radius: 55px;
    width: 183px;
    height: 44px;
    background: #b4f115;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    display: inline;
    outline: none;
    border: 0;
    text-decoration: none;
    color: #000;
    padding: 11px;
    margin-top: 70px;
}

.yellowButton:hover, .yellowButtonForm:hover {
    color: #000;
}

.greetings p,
.mission p,
.infoProduct p {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #565656;
    margin: 70px;
}

.bigSep {
    height: auto;
}

.trustNumbers {
    background-image: url("/img/trustUs.png");
    height: 1170px;
    margin-bottom: 150px;
}

.trust1,
.trust2,
.trust3,
.trust4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.trust1 h3,
.trust2 h3,
.trust3 h3,
.trust4 h3 {
    font-weight: 600;
    font-size: 34px;
    text-align: center;
    color: #b4f115;
}

.trust1 p,
.trust2 p,
.trust3 p,
.trust4 p {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #fff;
    width: 600px;
    margin-top: 40px;
}


.servicesСard1,
.servicesСard2,
.servicesСard3,
.servicesСard4,
.servicesСard5 {
    position: relative;
    border-radius: 26px;
    width: 854px;
    height: 274px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    color: white;
    margin-bottom: 50px;
}

.servicesСard1 {
    background-image: url('/img/shelkCard.png');
}

.servicesСard2 {
    background-image: url('/img/dtfCard.png');
}

.servicesСard3 {
    background-image: url('/img/plotterCard.png');
}

.servicesСard4 {
    background-image: url('/img/puffCard.png');
}

.servicesСard5 {
    background-image: url('/img/embroidery.png');
}

.overlay {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 55px;
}

.text-container {
    max-width: 70%;
    display: flex;
}

.number, .nameNumber {
    font-weight: 500;
    font-size: 34px;
    color: #fff;
    width: auto;
    margin-right: 60px;
}

.text-container p {
    font-weight: 600;
    font-size: 17px;
    color: #afafaf;
    width: 540px;
}

.icon-container {
    width: 50px;
    height: 50px;
}

.numberNameCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.services {
    margin-top: 140px;
}

.services h2 {
    width: auto;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
}

.slder-cad-small {
    width: 100%;
    position: relative;
    margin-top: 120px;
    margin-bottom: 120px;
    overflow: hidden; 
}

.cad-img-small {
    display: flex;
    transition: transform 0.3s ease;
}

.cad-img-small img {
    height: 100px; /* Задаем одинаковую высоту */
    object-fit: contain;
    flex: 0 0 50%; /* Убираем возможность растягиваться */
    margin-right: 14px;
}

.buttons-slider {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}
.cad-img-small img:first-child {
    margin-left: 0px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination .dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s;
    cursor: pointer;
}

.pagination .dot.active {
    background-color: #333;
}

.buttons-slider svg.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.close {
    position: absolute;
    top: 10px;
    right: 25px;
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.slder-cad .cad-img {
    white-space: nowrap;
    font-size: 0px;
    overflow: hidden;
    scroll-behavior: smooth;
    margin-top: 100px;
}

.cad-img.dragging {
    cursor: grab;
    scroll-behavior: auto;
}

.cad-img.dragging img {
    pointer-events: none;
}

.cad-img img {
    height: 350px;
    object-fit: cover;
    padding-left: 5px;
    width: calc(100% / 3);
    filter: grayscale(100%);
}

.cad-img img:hover {
    filter: grayscale(0);
}

.cad-img img:first-child {
    margin-left: 0px;
}


.modal {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.9); 
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    margin-top: 20%;
}

.modal-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.prev, .next {
    cursor: pointer;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    transition: 0.3s;
}

.prev:hover, .next:hover {
    color: #ddd;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.close:hover {
    color: #bbb;
}

.cooperation {
    margin-bottom: 150px;
    margin-top: 120px;
}

.cooperation h2 {
    width: 340px;
}

.custom-input {
    border-radius: 46px;
    width: 318px;
    height: 58px;
    background: #1a1a1a;
    outline: none;
    border: none;
    color: white;
    padding-left: 32px;
    font-size: 15px;
    position: relative;
}

.custom-input::placeholder {
    color: #8c8c8c;
}

.icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
}

.input-container {
    position: relative;
    margin-right: 15px;
}

.bid {
    background-image: url('/img/logo6.png');
    background-position: 55% 25%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
    margin-bottom: 250px;
}

.bid p {
    margin-top: 20px;
    margin-bottom: 100px;
}

.inputs {
    display: flex;
}

.comand {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
}

.comand h2 {
    margin-top: 100px;
    margin-bottom: 80px;
}

.profile-card-big {
    position: relative;
    width: 950px;
    height: 375px;
    overflow: hidden;
    border-radius: 25px;
    margin-bottom: 20px;
}

.profile-card-big img.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-card {
    position: relative;
    width: 300px;
    height: 350px;
    overflow: hidden;
    border-radius: 25px;
    margin-bottom: 20px;
    margin-right: 15px;
    margin-left: 10px;
}

.profile-card img.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info, .info-small {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 90px;
    padding: 10px;
}

.info h2, .info-small h2 {
    margin: 0;
    font-size: 26px;
    color: #fff;
    line-height: 1.2;
    margin-bottom: 10px;
}

.info p, .info-small p {
    margin: 0;
    font-size: 16px;
    display: flex;
    align-items: center;
    line-height: 1.2;
    color: #A9A9A9;
}



.info p::before, .info-small p::before {
    content: url('/img/userGray.png');
    margin-right: 10px;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.stages {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stages h2 {
    margin-bottom: 75px;
    margin-top: 100px;
}

.numbers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 750px;
    margin-bottom: 70px;
}

.numbers h3 {
    font-weight: 500;
    font-size: 34px;
    color: #3f3f3f;
}

.numbers p {
    width: 600px;
    font-weight: 400;
    font-size: 20px;
    color: #565656;
}


.faq {
    color: #fff;
    margin-top: 140px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 140px;
}

.faqQuestion {
    position: relative;
    background-color: #1c1c1c;
    border-radius: 31px;
    width: 550px;
    height: 587px;
    padding-top: 130px;
    padding-bottom: 85px;
    padding-left: 70px;
    padding-right: 70px;
}

.faqLabel {
    position: absolute;
    top: -15px;
    left: 0px;
    font-weight: 500;
    font-size: 65px;
    color: #2a2a2a;
    margin: 0;
}

.faqQuestion h3 {
    font-weight: 600;
    font-size: 34px;
    color: #fff;
    margin-bottom: 40px;
}

.faqQuestionP {
    font-weight: 400;
    font-size: 24px;
    color: #a6a6a6;
    width: 370px;
}

.acc-container {
    width: 660px;
}

.acc-btn {
    width: 100%;
    padding: 22px 31px;
    cursor: pointer;
    background: inherit;
    border: none;
    outline: none;
    text-align: left;
    transition: all 0.5s linear;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    background-color: #1c1c1c;
    height: 132px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.acc-btn:after {
    content: url('/img/plus.png');
}

.acc-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.acc-content.active {
    max-height: 300px; /* Подберите значение, подходящее для вашего содержимого */
}

.acc-content p {
    color: #1a1a1a;
}

.backgroundFaq {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 500;
    font-size: 65px;
    color: #2a2a2a;
}

.topImg {
    width: 770px;
    height: 325px;
    position: absolute;
    top: 0;
    left: 0;
}

.bottomLeftImg {
    width: 385px;
    height: 375px;
    position: absolute;
    bottom: 70px;
    left: 0;
}

.bottomRightImg {
    width: 350px;
    height: 375px;
    position: absolute;
    bottom: 70px;
    left: 420px;
}

.topRightImg {
    width: 400px;
    height: 220px;
    position: absolute;
    right: 0;
    top: 0;
}

.rightMiddleImg {
    width: 400px;
    height: 220px;
    position: absolute;
    right: 0;
    top: 250px;
}

.bottomImg {
    width: 400px;
    height: 220px;
    position: absolute;
    right: 0;
    bottom: 70px;
}

.photos h2 {
    margin-top: 95px;
}

.bidLink {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bidForm,
.bidForm-silk,
.bidForm-plotter,
.bidForm-puff,
.bidForm-dtf {
    background-repeat: no-repeat;
    width: 90%;
    border-radius: 31px;
    height: 326px;
    overflow: hidden;
    padding: 80px 100px 70px 85px;
    margin-top: 100px;
    margin-bottom: 125px;
}

.bidForm {
    background-image: url('/img/bidForm.png');
}

.bidForm-silk {
    background-image: url('/img/bidFormSilk.png');
}

.bidForm-plotter {
    background-image: url('/img/bidFormPlotter.png');
}

.bidForm-puff {
    background-image: url('/img/bidFormPuff.png');
}

.bidForm-dtf {
    background-image: url('/img/bidFormDtf.png');
}

.bidForm img,
.bidForm-silk img,
.bidForm-plotter img,
.bidForm-puff img,
.bidForm-dtf img {
    width: 100%;
    height: auto;
}

.bidForm h3,
.bidForm-silk h3,
.bidForm-plotter h3,
.bidForm-puff h3,
.bidForm-dtf h3 {
    font-weight: 600;
    font-size: 37px;
    color: #fff;
    width: 335px;
}

.bidForm p,
.bidForm-silk p,
.bidForm-plotter p,
.bidForm-puff p,
.bidForm-dtf p {
    font-weight: 400;
    font-size: 20px;
    color: #a6a6a6;
    width: 250px;
}

.bidText {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}

.contacts {
    display: flex;
    background: url('/img/contactCard.png') no-repeat center center;
    background-size: cover;
    color: white;
    border-radius: 50px;
    overflow: hidden;
    width: 900px;
    height: 320px;
    max-width: 100%;
    margin-top: 75px;
}

.contact-info,
.adress-info {
    padding-top: 85px;
    padding-bottom: 120px;
    padding-left: 85px;
    flex: 1;
}

.contact-info h3 {
    font-weight: 600;
    font-size: 26px;
    color: #fff;
    margin-bottom: 30px;
}

.contact-info p {
    margin: 10px 0;
    display: flex;
    align-items: center;
    font-size: 17px;
}

.contact-info p img {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.adress {
    display: flex;
    background: url('/img/backgroundAdress.png') no-repeat center center;
    background-size: cover;
    color: white;
    border-radius: 50px;
    overflow: hidden;
    width: 900px;
    height: 320px;
    max-width: 100%;
    margin-top: 75px;
}

.adress-info h3 {
    font-weight: 600;
    font-size: 26px;
    color: #fff;
    margin-bottom: 30px;
}

.adress-info p {
    margin: 10px 0;
    display: flex;
    font-size: 17px;
    width: 315px;
}

.adress-info p img {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.adressAndLoc {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 180px;
}

.slider-container {
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* Слайдер и кнопки в колонку */
    align-items: center;
    /* Центрирование слайдов */
    margin-top: 95px;
    margin-bottom: 120px;
}

.slider-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.slider-large {
    width: 730px;
    height: 360px;
    overflow: hidden;
    position: relative;
    margin-right: 10px;
    margin-left: 10px;
}

.slider-large img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
    filter: grayscale(100%);
}

.slider-small {
    width: 300px;
    height: 360px;
    overflow: hidden;
    position: relative;
    margin-right: 10px;
    margin-left: 10px;
}

.slider-small img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
    filter: grayscale(100%);
}

.slider-small img:hover,
.slider-large img:hover {
    filter: grayscale(0);
}

.slider-slide {
    display: none;
}

.slider-slide.active {
    display: block;
}

.slider-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    /* Отступ сверху */
}

.slider-button {
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin: 0 10px;
}

#PlotterCutting, #puff-print, #dtf {
    display: none;
}

#about {
    display: block;
    margin-top: 33px;
}

.message {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #b4f115;
    height: 60px;
    min-width: 288px;
    max-width: 500px;
    border-radius: 30px;
    font-weight: 500;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, .2), 0px 6px 10px 0px rgba(0, 0, 0, .14), 0px 1px 18px 0px rgba(0, 0, 0, .12);
    animation: join 2s ease 0s 1 normal forwards;
    margin-top: 50px;
}

.exit {
    animation: exit 1s ease 0s 1 normal forwards;
}

.hover-svg:hover svg path {
    stroke: #B4F115; 
}

.uslugi {
    margin-bottom: 90px;
}

.yellowButtonLong {
    width: 208px;
    height: 31px;
    border-radius: 999px;
    background: #b4f115;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    display: inline;
    outline: none;
    border: 0;
    text-decoration: none;
    color: #000;
    padding: 5px;
}

@keyframes exit {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes join {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 992px) {

    .trustUs {
        margin: 0px;
    }

    .trustUs h2 {
        width: 340px;
    }
    
    .photos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .slder-cad-small {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    
    .header-left {
        width: 20%;
    }

    .header-left img {
        width: 100px;
    }

    .hamburger-menu {
        display: flex;
    }
    
    .navbar-brand {
        margin-right: 0;
        padding-bottom: 30px;
    }

    .yellowButton {
        max-width: 121px;
        width: 100%;
        height: 31px;
        border-radius: 999px;
        font-weight: 700;
        font-size: 10px;
        line-height: 11px;
        text-align: center;
        margin-top: 47px;
        padding: 10px 0px 0px 0px;
    }

    .yellowButtonForm {
        width: 121px;
        height: 31px;
        border-radius: 999px;
        font-weight: 600;
        font-size: 11px;
        line-height: 13.41px;
        text-align: center;
        margin-top: 32px;
    }

    .header-section-main,
    .header-section-about,
    .header-section-silk,
    .header-section-dtf,
    .header-section-plotterCutting,
    .header-section-puff,
    .header-section-contact,
    .header-section-embroidery {
        margin-bottom: 40px;
    }

    .header-section-main {
        background-image: url(/img/backgroundMainMobile.png);
        background-size: cover;
    }

    .header-section-about {
        background-image: url(/img/backgroundAboutMobile.png);
        background-size: cover;
    }

    .header-section-silk {
        background-image: url(/img/backgroundSilkMobile.png);
        background-size: cover;
    }

    .header-section-dtf {
        background-image: url(/img/backgroundDtfMobile.png);
        background-size: cover;
    }

    .header-section-plotterCutting {
        background-image: url(/img/backgroundPlotterMobile.png);
        background-size: cover;
    }

    .header-section-puff {
        background-image: url(/img/backgroundPuffMobile.png);
        background-size: cover;
    }

    .header-section-embroidery {
        background-image: url(/img/backgroundEmbroideryMobile.png);
        background-size: cover;
    }

    .header-section-contact {
        background-image: url(/img/backgroundContactMobile.png);
        background-size: cover;
    }

    #pc {
        display: none;
        position: absolute;
    }

    #mobile {
        display: block;
    }

    .nav {
        display: none;
    }

    .nav {
        justify-content: center;
        flex-direction: column;
    }

    .nav-link {
        margin-bottom: 10px;
        font-weight: bold;
        margin-right: 0;
        font-size: 16px;
    }

    .dropdown-toggle {
        background: none;
        border: none;
        color: white;
        cursor: pointer;
        text-align: center;
        width: 100%;
        padding: 5px;
    }

    .dropdown-item {
        color: #969696;
        font-size: 12px;
        font-weight: 500;
        background: none;
        border: none;
        text-align: center;
        padding: 0;
    }
    
    .dropdown-menu {
        position: static;
        width: auto;
        box-shadow: none;
    }

    .ContactUs {
        width: 130px;
        font-size: 10px;
        padding: 9px 10px 10px 18px;
    }

    .heading {
        font-weight: bolder;
        font-size: 33px;
        text-align: center;
        margin-top: 110px;
    }

    .separation {
        width: 98%;
        font-size: 12px;
    }

    h2 {
        font-size: 18px;
        margin-bottom: 40px;
        margin-top: 40px;
        width: 200px;
    }

    .photos h2 {
        margin-top: 40px;
        margin-bottom: 0px;
    }

    .comand h2 {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .greetings h2 {
        width: 70%;
        font-weight: 600;
        font-size: 18px;
        text-align: center;
        margin-bottom: 48px;
        margin-top: 48px;
    }

    .greetings,
    .infoProduct {
        margin-top: 0;
        margin-bottom: 31px;
    }

    .mission {
        margin-top: 47px;
    }

    .greetings p {
        margin: 0px;
        font-size: 13px;
        width: 304px;
    }

    .infoProduct p {
        margin-bottom: 50px;
        width: 297px;
        font-size: 13px;
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .mission p {
        margin: 0px;
        font-size: 13px;
        width: 253px;
    }

    .bigSep {
        height: 154px;
        content: url("/img/mobileSep.png");
    }
    
    .trustUs h2 {
        margin: 47px 0px;
    }

    .trust1,
    .trust2,
    .trust3,
    .trust4 {
        font-size: 22px;
        padding-top: 30px;
    }

    .trust1 h3,
    .trust2 h3,
    .trust3 h3,
    .trust4 h3 {
        font-size: 15px;
        margin-bottom: 0;
    }

    .trust1 p,
    .trust2 p,
    .trust3 p,
    .trust4 p {
        font-size: 13px;
        width: 277px;
        margin-top: 30px;
        margin-bottom: 0;
    }

    .trustNumbers {
        margin-bottom: 40px;
        height: 610px;
        background-position: center;
    }
    
    .uslugi {
        margin: 47px 0px;
    }

    .services {
        margin-top: 45px;
    }

    .servicesСard1,
    .servicesСard2,
    .servicesСard3,
    .servicesСard4,
    .servicesСard5 {
        position: relative;
        border-radius: 26px;
        width: 330px;
        height: 151px;
        background-size: cover;
        background-position: center;
        overflow: hidden;
        color: white;
        margin-bottom: 8px;
    }

    .overlay {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 24px;
    }

    .text-container {
        max-width: 80%;
    }
    
    .number {
        font-size: 16px;
        margin-bottom: 0px;
        margin-top: 0px;
        margin-right: 20px;
        line-height: 27px;
    }
    
    .nameNumber {
        font-size: 18px;
        margin-bottom: 13px;
        margin-top: 0px;
        margin-right: 0px;
        font-weight: 700;
    }

    .text-container p {
        font-size: 8px;
        width: 211px;
        height: 60px;
        color: #D2D2D2;
        font-weight: 600;
    }

    .servicesСard1 {
        background-image: url("/img/shelkCardMobile.png");
    }

    .servicesСard2 {
        background-image: url("/img/dtfCardMobile.png");
    }

    .servicesСard3 {
        background-image: url("/img/plotterCardMobile.png");
    }

    .icon-container {
        width: 19px;
        height: 19px;
    }

    .icon-container img {
        width: 19px;
        height: 19px;
    }
    
    .icon-container svg {
        width: 19px;
        height: 19px;
    }

    #left, #right {
        width: 13px;
        height: 13px;
    }

    .cards {
        margin-bottom: 56px;
    }

    .cooperation {
        margin-top: 0px;
        margin-bottom: 30px;
    }

    .cad-img-small img {
        width: 100%;
        position: relative;
        overflow: hidden;
        flex: 0 0 100%;
    }

    .cad-img img {
        width: 100%;
        border-radius: 25px;
        height: 203px;
    }

    .slder-cad  {
        margin-bottom: 30px;
        width: 282px;
    }
    
    .inputs {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .input-container {
        margin-bottom: 5px;
        width: 314px;
        height: 47px;
        margin-right: 0px;
    }

    .custom-input {
        width: 314px;
        height: 47px;
    }

    .bid {
        background-size: 470px;
        background-position: 35% 5%;
        padding-top: 44px;
        margin-bottom: 45px;
    }
    
    .bid h2 {
        font-weight: 700;
        font-size: 20px;
        line-height: 24.38px;
        text-align: center;
        margin-bottom: 0;
        width: 340px;
    }

    .bid p {
        color: #8E8E8E;
        font-weight: 400;
        font-size: 13px;
        line-height: 15.85px;
        text-align: center;
        width: 253px;
        margin-bottom: 30px;
        margin-top: 3px;
    }

    .footer-text {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 80%;
    }

    .footer-navigation {
        display: flex;
    }

    .foot-brand {
        padding-bottom: 30px;
    }

    .foot-brand img {
        width: 219px;
        height: 46px;
    }

    .footer-navigation a {
        font-size: 12px;
        margin-bottom: 30px;
    }

    .socialMedia img {
        padding-right: 10px;
        padding-left: 10px;
        margin: 0px;
    }

    .comand {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }

    .profile-card-big {
        position: relative;
        width: 313px;
        height: 131px;
        border-radius: 12px;
        margin-bottom: 6px;
    }

    .profile-card-big img.background {
        content: url("/img/staff/kirillMobile.png");
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
    .info {
        justify-content: flex-start;
        bottom: 40px;
        padding: 0px;
    }

    .info-small {
        justify-content: flex-start;
        bottom: -20px;
        left: 0;
    }

    .stages h2 {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .info p {
        font-size: 10px;
    }

    .info-small p {
        font-size: 8px;
    }

    .info p::before, .info-small p::before {
        display: none;
    }

    .info h2 {
        font-size: 20px;
        margin-bottom: 0;
        margin-top: 15px;
        width: 30px;
    }

    .info-small h2 {
        font-size: 13px;
        margin-bottom: 5px;
        margin-top: 0px;
        width: 20px;
    }

    .profile-card {
        width: 101px;
        height: 140px;
        border-radius: 12px;
        margin-right: 0;
        margin-left: 5px;
        margin-bottom: 8px;
    }

    .numbers {
        display: flex;
        align-items: center;
        width: 98%;
        text-align: center;
        margin-bottom: 49px;
        flex-direction: column;
    }

    .numbers h3 {
        font-weight: 800;
        font-size: 16px;
        color: #3f3f3f;
        margin-bottom: 15px;
    }

    .numbers p {
        width: 243px;
        font-weight: 400;
        font-size: 12px;
        color: #565656;
        margin-bottom: 0px;
    }

    .faq {
        color: #fff;
        margin-top: 40px;
        margin-bottom: 40px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .faqQuestion {
        position: relative;
        background-color: #1c1c1c;
        border-radius: 16px;
        width: 314px;
        height: 206px;
        padding-top: 33px;
        padding-left: 28px;
        margin-bottom: 9px;
        padding-bottom: 0px;
        padding-right: 0px;
    }

    .faqLabel {
        position: absolute;
        top: -15px;
        left: 167px;
        font-weight: 700;
        font-size: 65px;
        color: #2a2a2a;
        margin: 0;
        z-index: 0;
    }

    .faqQuestion h3 {
        position: relative;
        font-weight: 600;
        font-size: 15px;
        color: #fff;
        margin-bottom: 23px;
        z-index: 1;
        width: 226px;
    }

    .faqQuestionP {
        font-weight: 400;
        font-size: 13px;
        color: #a6a6a6;
        width: 260px;
    }

    .acc-container {
        width: 314px;
    }
    
    .acc-content p {
        padding-left: 10px;
    }

    .acc-btn {
        margin-bottom: 9px;
        font-size: 12px;
        height: 73px;
        border-radius: 13px;
        padding: 22px 11px 22px 28px;
    }

    .acc-btn:after {
        content: url(/img/plusSmall.png);
    }

    .slder-cad .cad-img {
        margin-top: 0px;
    }
    
    .pagination {
        margin-top: 5px;
    }

    .pagination .dot {
        width: 5px;
        height: 5px;
    }

    .bidForm,
    .bidForm-silk,
    .bidForm-plotter,
    .bidForm-puff,
    .bidForm-dtf {
        background-repeat: no-repeat;
        width: 314px;
        border-radius: 31px;
        background-size: cover;
        height: 349px;
        padding: 46px 0px 46px 43px;
        margin-top: 36px;
        margin-bottom: 85px;
        box-sizing: border-box;
    }

    .bidForm h3,
    .bidForm-silk h3,
    .bidForm-plotter h3,
    .bidForm-puff h3,
    .bidForm-dtf h3 {
        font-weight: 600;
        font-size: 22px;
        color: #fff;
        width: 70%;
    }

    .bidForm p,
    .bidForm-silk p,
    .bidForm-plotter p,
    .bidForm-puff p,
    .bidForm-dtf p {
        font-weight: 600;
        font-size: 13px;
        color: #D1D1D1;
        width: 230px;
        
    }

    .bidText {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        height: 70%;
        width: 85%;
        align-items: center;
    }

    .contact-info {
        display: flex;
        padding-top: 31px;
        padding-bottom: 44px;
        padding-left: 45px;
        flex: 1;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .contact-info h3 {
        margin-bottom: 76px;
    }
    

    .adress-info p {
        width: 245px;
        font-size: 11px;
        padding-left: 37px;
        margin-top: 38px;
    }

    .slider-row {
        flex-direction: column;
        align-items: center;
        margin-bottom: 0px;
    }

    .slider-container {
        margin-bottom: 37px;
    }

    .slider-large,
    .slider-small {
        width: 313px;
        height: 145px;
        margin-bottom: 10px;
    }

    .slider-buttons {
        margin-top: 10px;
    }

    .slider-button {
        width: 30px;
        height: 30px;
    }

    .footer-text .navbar-brand {
        margin: 0;
    }

    .modal-content {
        margin-top: 150px;
    }

    .slider-container {
        display: none;
    }

    #PlotterCutting, #puff-print, #dtf {
        display: block;
    }

    .contacts {
        background: url('/img/contactCardSmall.png') no-repeat center center;
        border-radius: 31px;
        width: 314px;
        height: 235px;
        margin-top: 30px;
    }

    .adress {
        background: url('/img/backgroundAdressSmall.png') no-repeat center center;
        border-radius: 31px;
        width: 314px;
        height: 235px;
        margin-top: 16px;
    }
    
    .adress-info {
        width: 265px;
        font-size: 11px;
        padding-left: 57px;
        padding-top: 34px;
        padding-bottom: 0px;
    }

    .adressAndLoc {
        margin-bottom: 46px;
    }

    .bidForm, 
    .bidForm-silk, 
    .bidForm-plotter, 
    .bidForm-puff, 
    .bidForm-dtf {
        background-position: 80%;
    }

    .slider-small img {
        border-radius: 18px;
    }

    .yellowButtonLong {
        font-size: 11px;
        padding: 7px;
    }
}

#components-reconnect-modal {
    display: none;
}

#components-reconnect-modal.components-reconnect-show,
#components-reconnect-modal.components-reconnect-failed,
#components-reconnect-modal.components-reconnect-rejected {
    display: block;
}